.user-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.edit-books-button {
    margin-top: 10px;
    align-self: flex-start;
    position: absolute;
    top: calc(100% + 10px); /* Position below the book list */
    left: calc(150px * 4 + 30px); /* Adjust this value to position the button below the 4th column */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-books-button:hover {
    background-color: #0056b3;
}