.user-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 640px; /* Adjust this value to match the width of the 4 books grid */
    margin-top: 10px;
}

.header h2 {
    margin: 0;
}

.book-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 640px; /* Adjust this value to match the width of the 4 books grid */
}

.buttons-container {
    display: flex;
    flex-direction: row; /* Ensure buttons are placed next to each other */
    justify-content: flex-start;
    gap: 10px; /* Add some space between the buttons */
    margin-top: 10px;
    margin-bottom: 30px;
}

.edit-books-button, .sort-books-button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-books-button {
    background-color: #007bff; /* Default color: blue */
}

.edit-books-button.active {
    background-color: #ff0000; /* Active color: red */
}

.edit-books-button:hover {
    background-color: #0056b3; /* Hover color for default state */
}

.sort-books-button {
    background-color: #007bff; /* Default color: green */
}

.sort-books-button:hover {
    background-color: #0056b3; /* Hover color for default state */
}